@namespace Silk.Dashboard.Components

@using DSharpPlus.Entities

<a class="text-decoration-none" href="/Dashboard/ManageGuild/@Guild.Id">
    <div class="card border-info" style="max-width: 20rem;">
        <div class="card-body text-center">
            <!-- TODO: Remove bottom margin if no image exists -->
            <h4 class="card-title text-warning @HeaderClass">@Guild.Name</h4>
            @if (HasIcon)
            {
                <img class="card-img-top" src="@Guild.IconUrl?size=1024" alt="@Guild.Name Logo" />
            }
        </div>
    </div>
</a>

@code {

    [Parameter]
    public DiscordGuild Guild { get; set; }

    private bool HasIcon => !string.IsNullOrEmpty(Guild.IconUrl);
    private string HeaderClass => HasIcon ? "mb-3" : string.Empty;
}