@namespace Silk.Dashboard.Components

@using DSharpPlus.Entities

<div class="card-columns">
    @foreach (var guild in Guilds)
    {
        <GuildView @key="@guild.Id" Guild="@guild" />
    }
</div>

@code {

    [Parameter]
    public IEnumerable<DiscordGuild> Guilds { get; set; }

}