@page "/Dashboard/Manage/{GuildId}"
@attribute [Authorize]

@using DSharpPlus.Entities
@using Silk.Dashboard.Services
@using DSharpPlus
@using Silk.Data
@using Silk.Data.Models

@inject DiscordRestClientService RestClientService
@inject NavigationManager NavigationManager
@inject SilkDbContext SilkDbContext

@if (_guild is not null)
{
    <HeaderView ImageUrl="@_guild.IconUrl" Text="@_guild.Name" />
    <EditForm Model="@_config" OnValidSubmit="@SaveChangesAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        
        @*<InputNumber id="MuteRoleId" @bind-Value="_config.MuteRoleId" />*@
        <InputCheckbox id="GreetMembers" @bind-Value="_config.GreetMembers">
            Greet Members
        </InputCheckbox>
        
        <button class="btn btn-primary">Save Changes</button>
    </EditForm>
}

@code {

    [Parameter]
    public string GuildId { get; set; }

    private DiscordGuild _guild;
    private GuildConfig _config;

    protected override async Task OnInitializedAsync()
    {
        _guild = RestClientService
            .GetGuildsByPermission(Permissions.ManageGuild)
            .FirstOrDefault(g => g.Id == ulong.Parse(GuildId));

        if (_guild is null)
            NavigationManager.NavigateTo("/Dashboard/Profile");

        _config = await SilkDbContext.GuildConfigs.GetConfig(_guild.Id);
        if (_config is null)
            _config = new GuildConfig();
    }

    protected async Task SaveChangesAsync()
    {
        
    }
}