@page "/Dashboard/Profile"
@attribute [Authorize]

@inherits ComponentBase

@if (_ownedGuilds is null)
{
    <div class="container mt-4">
        <Circle Size="100px" Center="true" Color="#337AB7" />
    </div>
}
else
{
    <HeaderView ImageUrl="@CurrentUserAvatar" Text="@HeaderViewGreeting" />

    <div class="container">
        <h3 class="mb-2">Servers You Manage:</h3>
        <GuildCollectionView Guilds="@_ownedGuilds" />
    </div>
}