@page "/Dashboard/Profile"
@attribute [Authorize]

@inherits ComponentBase

<div class="d-flex align-content-center">
    <div class="container text-center">
        <img class="img-fluid mb-2 rounded-circle" src="@CurrentUserAvatar" alt="Avatar URL" />
        <h2>Hello, @CurrentUserName</h2>
        <hr style="height: 1px; background-color: #ffffff" />
    </div>
</div>

@if (_allGuilds is null)
{
    <div class="container mt-4">
        <Circle Size="100px" Center="true" Color="#337AB7" />
    </div>
}
else
{
    <div class="container">
        <h3 class="mb-2">Servers You Manage:</h3>
        <GuildCollectionView Guilds="@_ownedGuilds" />
    </div>
}