@using DSharpPlus.Entities

<a class="text-decoration-none" href="/Dashboard/Manage/@Guild.Id">
    <div class="card border-info" style="max-width: 20rem;">
        <div class="card-body text-center">
            <!-- TODO: Remove bottom margin if no image exists -->
            <h4 class="card-title text-warning">@Guild.Name</h4>
            @if (!string.IsNullOrEmpty(Guild.IconUrl))
            {
                <img class="card-img-top mb-2" src="@Guild.IconUrl?size=1024" alt="@Guild.Name Logo" />
            }
        </div>
    </div>
</a>

@code {

    [Parameter]
    public DiscordGuild Guild { get; set; }

}