@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<div class="main">
    <NavBar />

    <div class="content px-2">
        @Body
    </div>
    
    
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"
                    IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fa fa-thumbs-up"
                    ErrorIcon="fa fa-times" />
</div>